{%for wiki in wikis%}
<div style="border-style:ridge">
<h3><a href="{{wiki.url|e}}">{{wiki.article|e}}</a> from {{wiki.credit|e}}</h3>
{{wiki.text}}
</div>
{%endfor%}

<form method="GET" action="plugin">
<p>
Search radius: <input type="text" name="radius" value="10000"/>metres<br/>
<input type="hidden" name="lat" value="{{record.fixedData.lat}}"/>
<input type="hidden" name="lon" value="{{record.fixedData.lon}}"/>
<input type="hidden" name="record" value="{{webinput.record}}"/>
<input type="submit" value="Search Wikipedia"/>
<input type="hidden" name="plugin" value="wiki"/>
<input type="hidden" name="action" value="search"/>
</p>
</form>
