
{%if photos|length > 0%}
<p>
{%for photo in photos%}
<a href="{{photo.link|e}}" title="{{photo.text|e}}"><img src="{{photo.url|e}}" width="{{photo.width|e}}" height="{{photo.height|e}}" alt="{{photo.alt|e}}"></a>
{%endfor%}
</p>
{%endif%}

<form method="GET" action="searchflickr">
<p>
Search: <input type="text" name="text" value="{{record.current.name|e}}"/><br/>
Limit to area: <input type="checkbox" name="limitarea" checked/><br/>
Search radius: <input type="text" name="radius" value="1"/>km<br/>
<input type="hidden" name="lat" value="{{record.fixedData.lat}}"/>
<input type="hidden" name="lon" value="{{record.fixedData.lon}}"/>
<input type="hidden" name="record" value="{{webinput.record}}"/>
<input type="submit" value="Search flickr"/>
</p>
</form>
