<h3>Location</h3>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height:380px; width:50%;"></div>


<script>

	var map = L.map('map').setView([{{record.current.lat}}, {{record.current.lon}}], 15);

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	var marker = L.marker([{{record.current.lat}}, {{record.current.lon}}]).addTo(map);

</script>

