<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<title>Search Near</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body onload="loadPage()">

<script>
function toRadians(deg) {
	return deg * Math.PI / 180.;
}

function toDegrees(rad) {
	return rad * 180. / Math.PI;
}

function loadPage() {

	if (navigator.geolocation) {
	  console.log('Geolocation is supported!');

	  var currentLat;
	  var currentLon;
	  var currentMag = 0.;
	  var dstlat = {{lat}};
	  var dstlon = {{lon}};
	  var geoSuccess = function(position) {
		console.log("Position found: " + position.coords.latitude+ "," + position.coords.longitude)
		currentLat = position.coords.latitude;
		currentLon = position.coords.longitude;
		document.getElementById('lat').value = currentLat;
		document.getElementById('lon').value = currentLon;

		//Based on http://www.movable-type.co.uk/scripts/latlong.html
		var φ1 = toRadians(dstlat), φ2 = toRadians(currentLat), Δλ = toRadians(currentLon-dstlon), R = 6371000.; // gives d in metres
		var d = Math.acos( Math.sin(φ1)*Math.sin(φ2) + Math.cos(φ1)*Math.cos(φ2) * Math.cos(Δλ) ) * R;
		document.getElementById('dist').value = d;

		var φ1 = toRadians(currentLat), φ2 = toRadians(dstlat), λ2 = toRadians(dstlon), λ1 = toRadians(currentLon), R = 6371000.;
		var y = Math.sin(λ2-λ1) * Math.cos(φ2);
		var x = Math.cos(φ1)*Math.sin(φ2) -
				Math.sin(φ1)*Math.cos(φ2)*Math.cos(λ2-λ1);
		var brng = toDegrees(Math.atan2(y, x));
		document.getElementById('brng').value = brng;
	  };

	  var geoOptions = {
		 timeout: 60 * 1000,
		 maximumAge: 5 * 60 * 1000,
		enableHighAccuracy: true,
	  };

	  var geoError = function(error) {
		console.log('Error occurred. Error code: ' + error.code + ' ' + error.message);

		switch(error.code) {
			case error.PERMISSION_DENIED:
				alert('Location error occurred: '+ error.message);
			case error.POSITION_UNAVAILABLE:
				alert('Location error occurred: '+ error.message);
	        case error.TIMEOUT:
				alert('Location error occurred: '+ error.message);
    	    case error.UNKNOWN_ERROR:
				alert('Location error occurred: '+ error.message);
		}
	  };

	  navigator.geolocation.watchPosition(geoSuccess, geoError, geoOptions);

	  var orientEvent = function(orient)
	  {
			currentMag = 360. - orient.alpha;
			document.getElementById('mag').value = currentMag;


      };

      window.addEventListener("deviceorientation", orientEvent, true);
	}
	else {
	  console.log('Geolocation is not supported for this Browser/OS version yet.');
	}

}
</script>

{% include 'inc-account-links.html' %}
<h2>Nav to</h2>

<p>Current:</p>
<input type="text" name="lat" id="lat" value=""/> Latitude (degrees)<br/>
<input type="text" name="lon" id="lon" value=""/> Longitude (degrees)<br/>
<input type="text" id="mag" value="0."/> Heading (degrees)<br/>

<p>Destination</p>
<input type="text" id="dstlat" value="{{lat}}"/> Latitude (degrees)<br/>
<input type="text" id="dstlon" value="{{lon}}"/> Longitude (degrees)<br/>

<p>Stats</p>
<input type="text" id="dist" value=""/> Distance (metres)<br/>
<input type="text" id="brng" value=""/> Bearing (degrees)<br/>

<div style="width:300px; height:300px; display:block;">Compass area</div>

<p>Here</p>

</body>
</html>

