<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<title>{{record.current.name|e}}</title>

{% for incPage in pluginHeaderIncs %}
{% include incPage %}
{% endfor %}

</head>
<body>

{% include 'inc-account-links.html' %}

<h2>{{record.current.name|e}}</h2>

{%if actionMessage != None%}
<p>{{actionMessage}}<p>
{%endif%}

{% for incPage in pluginIncs %}
{% include incPage %}
{% endfor %}

<p><a href="nearby?lat={{record.fixedData.lat}}&lon={{record.fixedData.lon}}">Nearby records</a></p>

</body>
</html>

