<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<title>Search Near</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body onload="loadPage()">

{%if lat == None%}
<script>
function loadPage() {

	if (navigator.geolocation) {
	  console.log('Geolocation is supported!');

	  var startPos;
	  var geoSuccess = function(position) {
		console.log("Position found: " + position.coords.latitude+ "," + position.coords.longitude)
		startPos = position;
		document.getElementById('lat').value = startPos.coords.latitude;
		document.getElementById('lon').value = startPos.coords.longitude;
	  };

	  var geoOptions = {
		 timeout: 60 * 1000,
		 maximumAge: 5 * 60 * 1000,
		enableHighAccuracy: true,
	  }

	  var geoError = function(error) {
		console.log('Error occurred. Error code: ' + error.code + ' ' + error.message);

		switch(error.code) {
			case error.PERMISSION_DENIED:
				alert('Location error occurred: '+ error.message);
			case error.POSITION_UNAVAILABLE:
				alert('Location error occurred: '+ error.message);
	        case error.TIMEOUT:
				alert('Location error occurred: '+ error.message);
    	    case error.UNKNOWN_ERROR:
				alert('Location error occurred: '+ error.message);
		}
	  };

	  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
	}
	else {
	  console.log('Geolocation is not supported for this Browser/OS version yet.');
		document.getElementById('lat').value = 53.;
		document.getElementById('lon').value = -1.0;
	}

}
</script>
{%else%}
<script>
function loadPage() {

}
</script>
{%endif%}

{% include 'inc-account-links.html' %}
<h2>Search Near</h2>
<p>Click on map to update search location</p>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height:380px;"></div>

<form method="GET" action="nearby">
<p>
<input type="text" name="lat" id="lat" value="{{lat}}"/> Latitude (degrees)<br/>
<input type="text" name="lon" id="lon" value="{{lon}}"/> Longitude (degrees)<br/>
<input type="submit"/>
</p>
</form>

<script>
{%if lat != None%}
	var map = L.map('map').setView([{{lat}}, {{lon}}], 7);
{%else%}
	var map = L.map('map').setView([53.0, -1.0], 7);
{%endif%}

	function onMapClick(e) {
		//alert("You clicked the map at " + e.latlng);
		document.getElementById('lat').value=e.latlng.lat;
		document.getElementById('lon').value=e.latlng.lng;  
	}

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	map.on('click', onMapClick);

</script>

<p><a href="recentchanges">Recent changes</a></p>

</body>
</html>

