<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<title>Search Near</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>
{% include 'inc-account-links.html' %}
<h2>Search Near</h2>
<p>Click on map to update search location</p>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height:380px;"></div>

<form method="GET" action="nearby">
<p>
<input type="text" name="lat" id="lat" value="{{lat}}"/> Latitude (degrees)<br/>
<input type="text" name="lon" id="lon" value="{{lon}}"/> Longitude (degrees)<br/>
<input type="submit"/>
</p>
</form>

<script>

	var map = L.map('map').setView([{{lat}}, {{lon}}], 7);

	function onMapClick(e) {
		//alert("You clicked the map at " + e.latlng);
		document.getElementById('lat').value=e.latlng.lat;
		document.getElementById('lon').value=e.latlng.lng;  
	}

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	map.on('click', onMapClick);

</script>

<p><a href="recentchanges">Recent changes</a></p>

</body>
</html>

